@page "/counter"
@inject StateContainer StateContainer

<section class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="is-size-1">Counter</h1>
            <p class="subtitle">
                Current count: @(currentCount)
            </p>
            <button class="button is-link" @onclick="IncrementCount">Click me</button>
        </div>
    </div>
</section>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
